<h1>Lista de clientes</h1>
<head>
	Digite seu usuário<input type="text" id ="nome" onchange="cod1()">
	Digite sua senha<input ="text" id="senha" onchange="cod2()">
	<button onclick="setTimeout(cod, 30)" style="width:50px;height:30px" tittle="Enviar">
	
	<script>
		function cod(){
			var n=0;
			function cod1(){
				if(nome=="empregado"){
					alert("Certo");
					n++;
				}else{
					alert("Errado");
					n--;
				}
			}
			function cod2(){
				if(senha=="123"){
					n++;
					alert("Certo");
				}else{
					n--;
					alert("Errado");
				}
			}
			if(n<1){
				alert("Usuário ou senha inválidos");
				history.back();
			}
		}
	</script>

		
	<!--<script>
		var nome,senha;
	alert("Página de Empregados");
	nome = prompt("Informe seu nome");
	senha = prompt("Digite sua senha");
	if(nome=="empregado" && senha=="123"){
		alert("Bem vindo ao banco de dados do sistema.");
		
	}else{
		alert("Usuário ou senha inválidos");
		history.back();
	}
	</script>-->
</head>

</body>