<h1>SAIBA POR ONDE COMEÇAR</h1>
<p1>AQUI NA TOPFIT TEMOS DIVERSOS TIPOS DE MODALIDADES DE EXERCÍCIOS<br>EXERCÍCIOS DE BAIXO IMPACTO PARA INICIANTES E EXERCÍCIOS DE ALTA PERFORMANCE PARA VOCÊ QUE QUER SE DESAFIAR,CONFIRA AS MODALIDADES:</p1>
<div style="position: center">
	<p>CICLISMO</p>
	<p>CAMINHADA</p>
	<p>MUSCULAÇÃO</p>
	<p>FUNCIONAL(CROSSFIT)</p>
	<p>PILATES</p>
	<p>TAI CHI</p>
	<p>FUTEBOL</p>
	<p>VÔLEI</p>
	<p>CAPOEIRA</p>
	<p>DANÇA</p>
	<p>PING PONG</p>
</div>
